@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$colorCard: #fff;
$colorBtnA: white;
$colorBtnB: #0bc6e3;
$padding-container: 30px 0;
$color-primary: #3e4144;
$color-secondary: #9c9c9c;
$color-tertiary: #f7f7f7;
$color-btn-primary: #b3e5fc;
$color-btn-secondary: #81d4fa;
$color-bg: #111111;
$color-bg-nav: #151515;
$align-title: center;
$box-shadow: 0 15px 25px rgba(0,0,0,0.5);
$breakpoints:("s":500px, "m":900px, "l":1200px);
//$family: 'Poppins', sans-serif;
