@use "../base";
@use "../base/base_campeones";
@use "../base/mixins_campeones";

.btn_catalogo{
    padding: 8px;
    background-color: #b58709ca;
    color: white;
    text-decoration: none;
    height: 20%;
    width: 39%;
    border-radius: 8px;
    border: 4px solid;
    border-style: groove;
    border-color: #b58709;
    &:hover{
        background-color: #7f5e04ca;
        border-color: #7f5e04ca;
    }
    .btn_catalogo_texto{
        font-weight: 600;
        text-align: center;
    }
}
.btn_log{

    background-color: #b58709ca;
    color: white;
    text-decoration: none;
    &:hover{
        background-color: #7f5e04ca;
        border-color: #7f5e04ca;
    }
    .btn_log_texto{
        margin-top: 20px;
        text-align: center;
    }
}

.catalogo_titulo_container{
    display: flex;
    justify-content: center;
    background-color: black;
    .catalogo_titulo{
        font-weight: 600;
                font-size: 4rem;
                border-bottom: 5px solid;
                border-top: 0px;
                border-style: ridge;
                font-stretch: expanded;
                border-color: #b58709;
                align-self: flex-end;
                text-align: center;
        color: rgba(209, 179, 29, 0.838);
        background-color: black;
    }
}

.catalogo_contenedor{
    display: grid;
    background-color: black;
    background-position-x: 45.99%;
    background-position-y: 50%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(11, 11, 11, 0) 100%),url(./../../public/storage/img/campeones_img.jpg);
    background-size: 850px;
    background-repeat: no-repeat;
    padding: 20px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    .catalogo_figura{
        margin: 20px;
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
        background-size: cover;
        display: grid;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 10px 20px rgba(255, 253, 253, 0.848);
        padding: 20px;
        width: 280px;
        height: 440px;
        background-position-x: 40%;
          .catalogo_img1{
            height: 50px;
            align-self: center;
          }
          .catalogo_img2{
            height: 10px;
            align-self: center;
            justify-self: center;
            width: 80px;
          }
          .catalogo_parr{
            display: flex;
            align-self: center;
            transition: all 400ms ease-out;
            font-weight: 600;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            transition: 1s;
            .catalogo_texto{
                font-size: 1.4rem;
                text-align: center;
                color: rgba(209, 179, 29, 0.838);
              }
          }
          .catalogo_nombre{
            .nombre{
                transition: 1s;
                text-align: center;
                font-weight: 600;
                color: #ffffff;
                font-size: 2rem;
              }
              .precio{
                text-align: center;
                color: rgb(21, 163, 16);
                font-weight: 600;
                font-size: 1.5rem;
                transition: 1.5s;
              }
          }
      }
      .catalogo_figura1{
        background-position-x: 70%;
      }
      .catalogo_figura:hover > .catalogo_parr {
        position: absolute;
        transform-origin: 40% 0%;
        transform: translate(0%, 200%);
        opacity: 1;
        visibility: visible;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.805) 0%, rgba(11, 11, 11, 0.762) 100%);
    }
    .catalogo_figura:hover .nombre{
        position: absolute;
        transform-origin: 40% 60%;
        transform: translate(-300%, -200%);
        visibility: hidden;
    }
    .catalogo_figura:hover .precio{
        position: absolute;
        transform-origin: 40% 60%;
        transform: translate(-300%, -200%);
        visibility: hidden;
    }
    .catalogo_figura:hover{
        transform: scale(1.12);
        border: 3px solid;
        border-style: ridge;
        border-color: base.$color-secondary;
        background-position-x: 60%;
    }
    .catalogo_figura1:hover{
        transform: scale(1.12);
        border: 3px solid;
        border-style: ridge;
        border-color: base.$color-secondary;
    }
    .catalogo_figura2:hover{
        transform: scale(1.12);
        border: 3px solid;
        border-style: ridge;
        border-color: base.$color-secondary;
        background-position-x: 60%;
    }
    .catalogo_figura3:hover{
        transform: scale(1.12);
        border: 3px solid;
        border-style: ridge;
        border-color: base.$color-secondary;
        background-position-x: 60%;
    }
@media screen and (max-width: map-get(base_campeones.$breakpointss, "large")) {
  .catalogo_contenedor{
    grid-template-columns: 1fr 1fr;
   }
   .catalogo_figura{
    max-width: 270px;
    height: 440px;
   }
   .catalogo_carta{
    justify-self: center;
  }
}
@media screen and (max-width: map-get(base_campeones.$breakpointss, "medium")) {
  .catalogo_contenedor{
    grid-template-columns: 1fr;
  }
  .catalogo_figura{
    height: 440px;
  }
}

}
