@use "../base/base";
@use "../base/base_campeones";

/* card */
.card_container_NV{
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_container2_NV{
  padding: 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card_container3_NV{
  padding: 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card_picture_NV{
  margin: 10% 10% 0 0;
  width: 90%;
  height: 210px;
  display: block;
}
.actuali{
  color: #65dbed;
  margin: 8px;
}
.text{
  font-size: 1.5rem;
  margin: 8px;
}

.btn_NV{
  display: block;
  text-align: center;
  padding: 50px;
}

.btn_cm{
  color: white;
  text-decoration: none;
  background-color: #0bc6e3;
  padding: 10px 50px;
  margin-top: 20px;
}

.gallery-title {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 35px;
  text-align: base.$align-title;
}

@media screen and (max-width: map-get(base_campeones.$breakpointss, "medium")){
    .card_container_NV{
        padding: 2% 2%;
        justify-content: space-around;
    }
}

/* modo */
.modo_NV{
    padding: 2% 60px;
    width: 120%;
    background: linear-gradient(10, 5deg, 2%);
}
.modo_espacio_NV{
    -webkit-box-align: base.$align-title;
    align-items: base.$align-title;
    padding: 30px;
    max-width: 1200px;
    background-color: #061c25;
}
.modo_title{
    margin: auto;
    color: white;
    font-size: 2.7rem;
}

@media screen and (max-width: map-get(base_campeones.$breakpointss, "medium")){
    .modo_espacio_NV{
        padding: 20px;
      }
      .modo_NV{
        width: 100%;
      }
      .modo_title{
        font-size: 1.7rem;
      }
}

@media screen and (max-width: map-get(base_campeones.$breakpointss, "small")){
    .modo_NV{
        width: 100%;
      }
      .modo_espacio_NV{
        padding: 10px;
      }
      .modo_title{
        font-size: 1.7rem;
      }
}
